html {
  background-image: url(pro.jpg);
}
body {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.801);
  color: rgb(255, 217, 0);
  line-height: 2em;
}
a {
  color: #ff4800;
  font-size: 22px;
  text-decoration: none;
}
a:hover {
  color: rgb(21, 255, 0);
}
ul li {
  font-size: large;
}
.box {
  padding: 40px;
}
h1 {
  color: #ff5100;
  text-align: center;
  font-size: 40pt;
  text-shadow: rgb(255, 255, 255) 0px 0px 4px;
}
