html {
  background-color: grey;
  color: rgb(229, 255, 0);
  line-height: 3.5em;
}
.body {
  margin: 0 auto;
  font-size: 20pt;
  max-width: 80%;
}
.hi {
  color: rgb(21, 255, 0);
}
li {
  color: rgb(21, 255, 0);
}
#hea {
  text-align: center;
  font-size: 37px;
  font-weight: 1000;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  color: rgb(21, 255, 0);
}
#py {
  width: 500px;
  max-width: 70%;
  box-shadow: rgb(229, 255, 0) 1px 1px 70px;
}

table,
td {
  margin: 0 auto;

  height: 70%;
}
td {
  padding: 20px;
  width: 50%;
  height: auto;
}
.l {
  text-align: right;
  vertical-align: top;
}
input[type="button"] {
  border: 0;
  background-color: rgb(255, 196, 0);
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 10px 20px;
  outline: none;
  color: black;
  font: 14pt bold;
  border-radius: 24px;
  cursor: pointer;
  font-family: monospace;
  font-weight: bolder;
}
input[type="button"]:hover {
  background-color: rgb(0, 255, 0);
}
